<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">">
<head>
    <meta charset="UTF-8">
    <title>Zamówienie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="/main.css" th:href="@{/main.css}">
</head>
<body>
<div class="container">
    <div class="jumbotron home-jumbo">
        <div class="container text-center text-white jumbo-container ">
            <h1 class="display-3" th:text="|Zamówienie nr ${order.id}|">Nr zamówienia</h1>
            <th:block th:switch="${order.status}">
                <h2 th:case="${T(pl.javastart.spring_mvc.foodieapp.order.Status).NEW}">Status: Nowe</h2>
                <h2 th:case="${T(pl.javastart.spring_mvc.foodieapp.order.Status).IN_PROGRESS}">Status: W realizacji</h2>
                <h2 th:case="${T(pl.javastart.spring_mvc.foodieapp.order.Status).COMPLETE}">Status: Zrealizowane</h2>
            </th:block>
            <a th:href="@{/panel/zamowienia}">Lista zamówień</a>
        </div>
    </div>
    <div class="col-6 offset-3" th:if="${!order.items.isEmpty()}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Cena</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="item, idx:${order.items}">
                <th scope="row" th:text="${idx.index+1}">1</th>
                <th scope="row" th:text="${item.name}">Pizza</th>
                <th scope="row" th:text="${item.price}">32</th>
            </tr>
            <tr th:each="item, idx:${order.items}">
                <th scope="row">2</th>
                <th scope="row">Deser</th>
                <th scope="row">32</th>
            </tr>
            <tr th:each="item, idx:${order.items}">
                <th scope="row">3</th>
                <th scope="row">zupa</th>
                <th scope="row">32</th>
            </tr>
            </tbody>
        </table>
        <div class="text-right">
            <h5 th:text="|Do zapłaty:${#numbers.formatDecimal(sum,1,2,'COMMA')}zł|">99,9</h5>
        </div>
        <div class="text-center" th:if="${order.status!=T(pl.javastart.spring_mvc.foodieapp.order.Status).COMPLETE}">
            <form method="post" th:action="@{|/panel/zamowienie/${order.id}|}">
                <button class="btn btn-primary"
                        th:if="${order.status==T(pl.javastart.spring_mvc.foodieapp.order.Status).NEW}">Realizuj
                </button>
                <button class="btn btn-success"
                        th:if="${order.status==T(pl.javastart.spring_mvc.foodieapp.order.Status).IN_PROGRESS}">Zakończ
                </button>
            </form>
        </div>
        <div th:if="${order.getItems().isEmpty()}" class="text-center">
            <div class="text-center">Zamówienie jest puste</div>
            <a href="#" th:href="@{/panel/zamowienia}">Wróć do listy zamówień</a>
        </div>
    </div>
</div>
</body>
</html>