<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="/main.css" th:href="@{/main.css}">
</head>
<body>
<div class="container">
    <div class="jumbotron home-jumbo">
        <div class="container text-center text-white jumbo-container ">
            <h1 class="display-3">Foodie</h1>
            <p>Witaj w naszej restauracji. Zamawiaj co tylko chcesz</p>
            <div>
                <a href="#" th:href="@{/zamowienie}">
                    TWOJE ZAMÓWIENIE
                </a>
            </div>
            <div>
                <a href="#" th:href="@{/panel/zamowienia}">
                    ZAMÓWIENIA
                </a>
            </div>
        </div>
    </div>
    <div th:remove="all-but-first">
        <div class="media col-6 offset-3" th:each="item: ${items}">
            <i class="fas fa-utensils fa-4x"></i>
            <div class="media-body">
                <a href=# th:href="@{|/danie/${#strings.replace(item.name,' ','-').toLowerCase()}|}">
                    <h5 th:text="|${item.name}(${item.price}zł)|"></h5>
                </a>
                <p th:text="${item.shortDescription}">Krótki opis pizzy</p>
                <a href="#" th:href="@{/zamowienie/dodaj(itemId=${item.id})}" class="btn btn-primary d-block">
                    Dodaj do zamówienia
                </a>
            </div>
        </div>
        <div class="media col-6 offset-3">
            <i class="fas fa-utensils fa-4x"></i>
            <div class="media-body">
                <h5>Pizza Capriciosa (26zł)</h5>
                <p>Krótki opis pizzy margherita, pysznej klasyki na cienkim cieście i rozpływającym się serem.</p>
            </div>
        </div>
        <div class="media col-6 offset-3">
            <i class="fas fa-utensils fa-4x"></i>
            <div class="media-body">
                <h5>Pizza Mafioso (27zł)</h5>
                <p>Krótki opis pizzy margherita, pysznej klasyki na cienkim cieście i rozpływającym się serem.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>